/* GLOBAL STYLES 
-----------------*/
/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	color: #444444;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.35;
}
h1,
h2,
h3 {
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.25;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}
h2 {
	font-size: 48px;
}
section {
	padding: 65px 0;
}
.content-wrapper {
	max-width: 1280px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 40px;
}

/* HEADER 
----------*/
header {
	padding: 110px 0;
	height: 625px;
	background: url('../images/zen.jpg') top center no-repeat fixed;
	background-size: 100%;
	color: #ffffff;
	text-align: center;
}
header h1 {
	text-shadow: 1px 1px 2px #aaa;
	font-size: 70px;
	font-weight: bold;
	padding: 50px 0;
	letter-spacing: 0.2em;
	margin-bottom: 10px;
}
header h1 span {
	padding: 0 0 0 40px;
}
header q {
	font-size: 22px;
}
header q span {
	padding: 0 0 0 468px;
}

/* NAVIGATION 
--------------*/
nav {
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
	-webkit-box-shadow: 0px 0px 2px 0px #fff;
	box-shadow: 0px 0px 2px 0px #fff;
	z-index: 99;
}
nav a.logo {
	text-decoration: none;
	color: #fff;
}
nav h1 {
	display: inline-block;
	padding: 15.5px 0;
	margin: 0;
	width: 170px;
	text-transform: none;
	font-weight: bold;
}
nav ul {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
	font-weight: bold;
}
nav ul li {
	display: inline-block;
}
nav ul a {
	padding: 25px 35px;
	display: block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
nav ul a:hover {
	font-weight: bolder;
}
/* List icon - will only show at 767px resolution or less. */
nav .fa-bars {
	display: none;
}

/* PHILOSOPHY SECTION 
-----------------*/
.philosophy {
	color: #76684f;
}
.philosophy hr.hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(118, 104, 79, 0.3);
	margin: 0 0 35px 0;
}
.philosophy h2 {
	text-transform: none;
	font-weight: bold;
	letter-spacing: 0.03em;
	line-height: 2.2;
}
.philosophy .description {
	overflow: hidden;
	margin-bottom: 20px;
}
.philosophy .description img {
	display: block;
	margin: 0 auto;
}
.philosophy .description p {
	font-size: 20px;
	text-align: center;
	line-height: 2.2;
}
.philosophy .description p::first-letter {
	font-size: 200%;
}

/* FOOTER SECTION 
--------------------*/
.footer {
	color: #76684f;
	border-top: 1px solid rgba(118, 104, 79, 0.6);
}
.footer .addr,
.footer .info {
	text-align: center;
	width: 50%;
	float: left;
}
.footer a {
	text-decoration: none;
	color: #76684f;
}
.footer a:hover {
	color: rgba(118,104,79,0.6);
}
.footer .copy {
    text-align: center;
    margin: 27px 0 0 0;
}
/* MEDIA QUERIES 
-----------------*/
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	header {
		height: auto;
	}
	header h1 {
		font-size: 50px;
		padding-bottom: 10px;
	}
	header h2 {
		font-size: 32px;
	}
	h2 {
		font-size: 28px;
	}
	nav ul a {
		padding: 25px 14px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	header h1 {
		font-size: 40px;
		padding: 6px 0 0 0;
	}
	header h2 {
		font-size: 18px;
	}
	header q {
		font-size: 16px;
	}
	header q span {
		padding: 0 0 0 338px;
	}
	h2 {
		font-size: 22px;
	}
	nav {
		-webkit-box-shadow: none;
		box-shadow: none;
		background: #76684f !important;
		color: #fff;
	}
	nav .fa-bars {
		display: block;
		padding: 19px 15px;
		cursor: pointer;
		float: right;
	}
	nav ul.dropdown {
		display: none;
		text-align: left;
		overflow: hidden;
	}
	nav ul.dropdown li {
		display: block;
		border-top: 1px solid white;
	}
	nav ul.dropdown a {
		color: white;
		padding-left: 15px;
	}
	nav ul.dropdown.open {
		display: block;
		width: 100%;
	}
	.philosophy .description img {
		width: 170px;
		height: 180px;
	}
	.philosophy .description p {
	    font-size: 17px;
	    line-height: 1.9;
	}
	.footer .content-wrapper p {
		width: 100%;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	header,
	nav,
	section {
		min-width: 320px;
	}
	header {
		padding: 80px 40px 0 40px;
		min-height: 230px;
	}
	header h1 {
		font-size: 30px;
	}
	header h1 span {
		padding: 0 0 0 10px;
	}	
	header q span {
		padding: 0;
		text-align: center;
	}
	.content-wrapper {
		padding: 0 25px;
	}
	.footer .addr, 
	.footer .info {
	    width: 100%;
	}
	.footer .info {
		margin: 30px 0 0 0;
	}
}